section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .container {
    width: 100%;
}


.heading {
    width: 100%;
    min-width: 300px;
    text-align: center;
    padding: 0rem;
    padding-top: 2rem;
}


section .box {
    max-width: 50%;
    min-width: 300px;
}

.bg-light {
    background-color: #fff;
}

.bg-light .heading h2 {
    color: #000;
}
.bg-light .title {
    color: #111;
}
.bg-light p {
    color: #333;
}

.bg-dark {
    background-color: #111;
}

.bg-dark .heading h2 {
    color: #ffff;
}
.bg-dark .title {
    color: #fff;
}
.bg-dark p {
    color: #aaa;
}
